body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Crimson Text', serif;
  background: url(istockphoto-178488809-612x612.jpg) no-repeat center;
  background-size: cover;
}
.btn-danger:hover {
  background-color: red;
  transform: scale(1.1);
}
.btn-danger:active {
  color: black;
  background-color: aqua;
}
.text-md-center {
  text-align: justify;
  padding-left: 30%;
  padding-right: 30%;
}